 #myModal .tab-pane .row{ 
	margin: 3px 0; 
	width: 100%; 
	float: none; 
	padding: 0; 
	float: none; 
	clear: both; 
	display: block; 
} 
#myModal .tab-pane .row label{ 
	display: block; 
	float: left; 
	cursor: pointer; 
	width: 200px; 
}
.modal-backdrop {
    background-color: #fff;
}

.modal-footer {
    text-align: left;  
}